{% extends "base.html" %}

{% block custom_head %}
{% endblock %}

{% block body %}
<script>
clearTracking();
var emailOpenEventData = {
  "event": "email_open",
  "properties":{
  "token":"87290bc0165c3e5bfbd8d56a03ea9c56",
  "ref_channel":"aweber",
  "campaign":"opencart-1"
  }
};

var emailClickEventData = {
  "event": "email_click",
  "properties":{
  "token":"87290bc0165c3e5bfbd8d56a03ea9c56",
  "ref_channel":"aweber",
  "campaign":"opencart-1"
  }
};

function objToBase64Str(obj) {
  return Base64.encode(JSON.stringify(obj));
}
var emailOpenEventString = objToBase64Str(emailOpenEventData);
emailOpenEventString = "http://api.mixpanel.com/track/?data="+emailOpenEventString+"&img=1";

var redirectURL = "http://localhost:8000/?rc=1";

var emailClickEventString = objToBase64Str(emailClickEventData);
emailClickEventString = "http://api.mixpanel.com/track/?data="+emailClickEventString + "&redirect=" + encodeURIComponent(redirectURL);

console.log(emailOpenEventString);
console.log(emailClickEventString);

</script>
<p>
<a href="{% url '/index.html' %}">Unknown to home</a>
</p>
<p>
  <img src="http://api.mixpanel.com/track/?data=eyJldmVudCI6ImVtYWlsX29wZW4iLCJwcm9wZXJ0aWVzIjp7InRva2VuIjoiODcyOTBiYzAxNjVjM2U1YmZiZDhkNTZhMDNlYTljNTYiLCJyZWZfY2hhbm5lbCI6ImF3ZWJlciIsImNhbXBhaWduIjoib3BlbmNhcnQtMSJ9fQ==&img=1"/>
  <a href="http://api.mixpanel.com/track/?data=eyJldmVudCI6ImVtYWlsX2NsaWNrIiwicHJvcGVydGllcyI6eyJ0b2tlbiI6Ijg3MjkwYmMwMTY1YzNlNWJmYmQ4ZDU2YTAzZWE5YzU2IiwicmVmX2NoYW5uZWwiOiJhd2ViZXIiLCJjYW1wYWlnbiI6Im9wZW5jYXJ0LTEifX0=&redirect=http%3A%2F%2Flocalhost%3A8000%2F%3Frc%3D1">Aweber email click to home</a>
  <a href="{% url '/index.html' %}?rc=1">Aweber to home</a>
</p>

<p>
  <a href="{% url '/index.html' %}?rc=2">Facebook ad to home</a>
</p>

<p>
  <a href="{% url '/index.html' %}?rc=3">Google ad to home</a>
</p>

<p>
  <a href="{% url '/index.html' %}?rc=4">BGG ad to home</a>
</p>

{% endblock %}